.pointer{
cursor:pointer
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}
.ui-progressbar{
	position: relative
}
.progress-label{
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff
}

.table td {vertical-align: middle !important}

.SumoSelect{
	width: 100%
}
#archivos-descargados{
	display: none
}
.overflow-hidden{ overflow: hidden !important;}
.overflow-visible{ overflow: visible !important;}
div.counter {
	display: none;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 7px;
	min-width: 20px;
	padding: 5px;
	font-size: 15px;
	line-height: 0px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
div.counter:before,
div.counter ::before {
	content: "";
	width: 0;
	height: 0;
	top: 50%;
	margin-top: -5px;
	display: block;
	border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
	border-width: 5px 5px 5px 0px;
	left: -10px;
	border-style: solid;
	position: relative;
}
div.rating-container:hover div.counter {
	display: block;
}
.clearfix{clear: both}
.jq-ry-container{
	padding: 0 !important
}
.ui-accordion-header{
	background-color: #fff;
    border: 1px solid #ddd;
}
.ui-accordion-content{
	background-color: #fff;
    border: 1px solid #ddd;
}
.ui-dialog{
	background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 3px;
}
.ui-dialog-buttonpane{
	border-top: 1px solid #ddd;
}
.ui-dialog-titlebar{
	border-bottom: 1px solid #ddd;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}